@charset "utf-8";
/* CSS Document */

#pact{ width:800px; margin:0 auto; font-family:"微软雅黑" !important; border-bottom: 1px #e3e3e3 dashed;margin-bottom:30px; height:50px;}
.processor_bar li{
	float:left;
	background:url(../img/bg_processor.png) no-repeat;
	width:254px; height:40px;
	line-height:40px;
	color:#333;
	text-align: center;
	list-style:none;
   
}
.processor_bar li h4{ font-size:12px;}
.processor_bar .next{    margin-left: -20px;}
.processor_bar .current{ background:url(../img/bg_processor1.png) no-repeat; color:#fff;}
.processor_bar .next1{ background:url(../img/bg_processor2.png) no-repeat;}
.processor_bar .current1{ background:url(../img/bg_processor3.png) no-repeat; color:#fff; margin-left:-20px;}
