@charset "utf-8";
/* CSS Document */
#infoTable{
    width:95%;
    margin:auto;
    padding-top: 10px;
    text-align: left
}
.infoTable{
    width:95%;
    margin:auto;
    padding-top: 10px;
    text-align: left
}