<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

	<contextName>dingdingdai</contextName>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
		<encoder>
			<pattern>[%-5level] %date %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="ERROR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<target>System.err</target>
		<encoder>
			<pattern>[%-5level] %date %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home:-.}/logs/batch/batch_debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home:-.}/logs/batch/batch_debug_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>1</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %date %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<file>${catalina.home:-.}/logs/batch/batch_info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home:-.}/logs/batch/batch_info_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>3</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %date %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<file>${catalina.home:-.}/logs/batch/batch_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home:-.}/logs/batch/batch_error_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>6</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %date %logger{80} - %msg%n %caller%n
			</pattern>
		</encoder>
	</appender>
	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<smtpHost>smtp.sina.com</smtpHost>
		<to>306673717@qq.com</to>
		
		<from>tintinloankefu@sina.com</from>

		<username>tintinloankefu</username>
		<password>1qaz@WSX</password>

		<subject>[${catalina.home:-.}] %date WebApp error message from Log, don't reply</subject>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %date %logger{80} - %msg%n</pattern>
		</layout>
	</appender> 
	

	<root level="ERROR">
		<!-- <appender-ref ref="CONSOLE" /> -->
		<appender-ref ref="ERROR_CONSOLE" />
		<appender-ref ref="DEBUG_FILE" />
		<appender-ref ref="INFO_FILE" />
		<appender-ref ref="ERROR_FILE" />
		<appender-ref ref="EMAIL" />
	</root>
	
	<logger name="org.apache.commons.beanutils.converters" level="ERROR" />
	<logger name="org.apache.commons.beanutils.ConvertUtils" level="ERROR" />
	<logger name="org.dozer" level="ERROR" />
	<logger name="java.sql.ResultSet" level="ERROR" />
	<logger name="org.mybatis.spring" level="INFO" />

	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="ERROR">
		<!--这里必须配置成error，如果配置成info，此处会输出大量的bean初始化信息，eclipse的console在做正则表达式的分析时会消耗大量cpu资源 -->
	</logger>

</configuration>