<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- shiro使用EhCacheManager缓存管理器 -->
    <bean id="ehcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean> 

    <!--凭证匹配器-->
	<bean id="credentialsMatcher" class="com.tintinloan.security.RetryLimitHashedCredentialsMatcher">
	        <constructor-arg ref="ehcacheManager"/> 
	        <property name="hashAlgorithmName" value="md5"/>  
	</bean>
	<!-- 定义自己的用户认证授权Realm实现 -->
	<bean id="dingRealm" class="com.tintinloan.security.DingRealm">
			<property name="credentialsMatcher" ref="credentialsMatcher"></property>
            <!-- 是否启用Realm缓存 ,默认授权缓存是开启的，认证缓存是关闭的
            <property name="cachingEnabled" value="true"></property>-->
	</bean>
	<!-- shiro的会话管理器,用于会话的CRUD-->
	<!-- <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"/>
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionDAO" ref="sessionDAO"/>
	</bean> -->
	<!-- 配置安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- 自定义处理realm -->
		<property name="realm" ref="dingRealm"></property>
		<!-- ehcache缓存管理,这里使用ehcache缓存管理器 -->
		<property name="cacheManager" ref="ehcacheManager"></property>
		<!-- session管理 -->
		<!-- <property name="sessionManager" ref="sessionManager" /> -->
	</bean>
	<!-- 配置shiro的 Web过滤器  -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<!-- 登录url -->
		<property name="loginUrl" value="/userLogin/loginIndex.ding"></property>
		<!-- 无权限时调用的页面 -->
		<property name="unauthorizedUrl" value="/unauthorized.jsp" />  
		<!-- 过滤器 -->
		<property name="filters">
            <map>
                <!--退出过滤器-->
                <entry key="loginOut" value-ref="systemLogoutFilter" />
            </map>
        </property>
		<!-- 权限管理过滤器链配置 -->
		<property name="filterChainDefinitions">
			<value>
				<!-- authc filter 监听,不登陆不能访问 -->
			     /**/auth/** = authc
			    /**/validate/** = authc
				<!-- 退出清空 -->
				/**/loginOut.**=loginOut
				/** = anon
			</value>
		</property>
	</bean>
	<!-- shiro生命周期处理器 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>
