<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:task="http://www.springframework.org/schema/task"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	
	<mvc:annotation-driven/>
	<mvc:resources location="/resources/" mapping="/resources/**"/>
	<context:component-scan base-package="com.sdhsie.*.*.controller"/>
	
	<!--spring 自动执行任务  -->
		<!-- 定时器开关-->  
		<task:annotation-driven /> 
	    <!-- 自动扫描的包名 -->    
	    <context:component-scan base-package="com.sdhsie.web.tasks" />
     <!-- end  -->
	
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/pages/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/*.do*"/>
			<bean class="com.sdhsie.base.interceptor.LoginHandlerInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
<!-- 	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> -->
<!-- 		<property name="exceptionMappings"> -->
<!-- 			<props> -->
<!-- 				<prop key="com.msxy.jxc.base.model.SysException">error</prop> -->
<!-- 			</props> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
	<bean id="exceptionResolver" class="com.sdhsie.base.resolver.OverallExceptionResolver"></bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="defaultEncoding" value="utf-8"></property>
    	<!-- 上传文件的最大值 -->
	    <property name="maxUploadSize" value="10485760000"></property>
	    <!-- 缓存大小 -->
	    <property name="maxInMemorySize" value="40960"></property>
     </bean>
       	
</beans>
