<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		  <!-- 加载任务 -->  
		  
	<bean name="autoBidRecordUtil" class="com.tintinloan.utils.AutoBidRecordUtil"></bean>
		  
    <bean id="scheduledExecutorTask" class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">  
        <property name="runnable" ref="autoBidRecordUtil" />
        <!-- 首次执行延迟 -->
        <property name="delay" value="1000" />
        <!-- 重复执行延迟 -->
        <property name="period" value="10000" />
        <!-- 是否固定频率执行，无论上次是否执行完成 -->
        <property name="fixedRate" value="false" />
         
    </bean>  
      
    <!-- 装载调度器,容器启动时运行 -->  
    <bean id="scheduledExecutorFactoryBean" class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">  
        <property name="poolSize" value="1" />
        <property name="scheduledExecutorTasks">  
            <list>  
                <ref bean="scheduledExecutorTask" />  
            </list>  
        </property>  
    </bean> 

		
</beans>
