<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<!-- 配置作业类 -->
	<!-- 开标，流标 -->
	<bean name="readyToBidJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
		<property name="targetObject">
			<bean class="com.tintinloan.service.quartz.ReadyToBidJob"/>
		</property>
		<property name="targetMethod">
			<value>readyToBid</value>
		</property>
        <!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一 个新的线程 -->
        <property name="concurrent" value="false"/>
	</bean>
	<!-- 逾期 -->
	<bean name="overDueJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
		<property name="targetObject">
			<bean class="com.tintinloan.service.quartz.TenderRelJob"/>
		</property>
		<property name="targetMethod">
			<value>overdueBatch</value>
		</property>
        <property name="concurrent" value="false"/>
	</bean> 
	<!-- 债权转让失效 -->
 	<bean name="debtDaysToStop" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">   
  		<property name="targetObject">  
  			<bean class="com.tintinloan.service.quartz.DebtDaysJob"/>  
  		</property>  
  		<property name="targetMethod">  
  			<value>debtDaysToStop</value>  
  		</property>  
          <property name="concurrent" value="false"/>  
  	</bean> 	
  	<!-- 债权转让申请期间数据变动 -->	
   	<bean name="debtChange" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
   		<property name="targetObject">
   			<bean class="com.tintinloan.service.quartz.DebtChangeJob"/>
   		</property>
   		<property name="targetMethod">
   			<value>debtChange</value>
   		</property>
   		<property name="concurrent" value="false"/>  
   	</bean>
   	<!-- 自动还款任务 -->
   	<bean name="autoRepay" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
   		<property name="targetObject">
   			<bean class="com.tintinloan.service.quartz.AutoRepayTask"/>
   		</property>
   		<property name="targetMethod">
   			<value>handleAutoRepay</value>
   		</property>
   		<property name="concurrent" value="false"/>  
   	</bean>
   	
   	<!-- 每月的相关统计 -->
   	<!-- <bean name="inverstStatistics" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
   		 <property name="targetObject">
   		 		<bean class="com.tintinloan.service.quartz.InverstStatisticsJob"/>
   		 </property>
   		 
   		 <property name="targetMethod">
   		 		<value>statisticsInverst</value>
   		 </property>
   		 	<property name="concurrent" value="false"/>  
   	</bean> -->
  	<!-- 每月统计该月有效推荐人 
     	<bean name="recommendEffect" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
   			<property name="targetObject">
   				<bean class="com.tintinloan.service.quartz.RecommendRewardJob"></bean>
   			</property>
   			<property name="targetMethod">
   		 		<value>checkRecommendFlag</value>
   		 </property>
   		 	<property name="concurrent" value="false"/>  
   	</bean>  -->
   	
   	<!-- 发送信息定时任务配置 -->
   	<bean name="messageSend" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
   		 <property name="targetObject">
   		 		<bean class="com.tintinloan.service.quartz.MessageSendJob"/>
   		 </property>
   		 
   		 <property name="targetMethod">
   		 		<value>sendMessage</value>
   		 </property>
   		 	<property name="concurrent" value="false"/>  
   	</bean>
   	
   	<!-- 竞拍活动定时任务配置 -->
   	<bean name="autoAuction" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
   		 <property name="targetObject">
   		 		<bean class="com.tintinloan.controller.borrow.AuctionController"/>
   		 </property>
   		 
   		 <property name="targetMethod">
   		 		<value>autoFullAndFail</value>
   		 </property>
   		 <property name="concurrent" value="false"/>  
   	</bean>
   	<!-- 极光推送即将过期红包，加息券，体验金信息 add by yaoshengting-->
   	<bean name="jpushInfoJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
		<property name="targetObject">
			<bean class="com.tintinloan.service.quartz.JpushInfoJob"/>
		</property>
		<property name="targetMethod">
			<value>jpushInfo</value>
		</property>
        <!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一 个新的线程 -->
        <property name="concurrent" value="false"/>
	</bean>
   	<!-- 开标信息推送 add by yaoshengting-->
   	<bean name="jpushTenderInfoJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
		<property name="targetObject">
			<bean class="com.tintinloan.service.quartz.JpushTenderInfoJob"/>
		</property>
		<property name="targetMethod">
			<value>jpushTenderInfo</value>
		</property>
        <!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一 个新的线程 -->
        <property name="concurrent" value="false"/>
	</bean>
	
   	
	<!-- 配置作业调度 -->
	<bean id="readyToBidTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
		<property name="jobDetail" ref="readyToBidJob" />  
		<!-- 每天的10分钟的倍数去执行一次 -->  
		<property name="cronExpression" value="0 0/5 * * * ?" />  
	</bean>
	<bean id="overDueTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
		<property name="jobDetail" ref="overDueJob" />  
		<!-- 每天的凌晨去执行一次 -->  
		<property name="cronExpression" value="0 11 0 * * ?" />  
	</bean>  
	<!-- 债权转让失效 -->
	<bean id="debtDaysToStopTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">   
 		<property name="jobDetail" ref="debtDaysToStop" />   
  		<property name="cronExpression" value="0 21 0 * * ?" />  
 	</bean>
 	<!-- 债权转让申请期间数据变动 -->	
	<bean id="debtChangeTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">    
  		<property name="jobDetail" ref="debtChange" />    
   		<property name="cronExpression" value="0 41 0 * * ?" />   
  	</bean>
  	<!-- 自动还款任务 -->
  	<bean id="autoRepayTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">    
  		<property name="jobDetail" ref="autoRepay" />    
   		<property name="cronExpression" value="0 2 8-20/4 * * ?" />   
   		<!-- <property name="cronExpression" value="0 0,14,50,38,52,56 * * * ?" />  -->
  	</bean> 
  	
  	<!--每月统计相关投资人以及投资额等信息 -->
  	<!-- <bean id="inverstStatisticsTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
  			<property name="jobDetail" ref="inverstStatistics" />  
  			<property name="cronExpression" value="0 0 1 1 * ?" />   
  	</bean> -->
  	
  <!-- 	<bean id="recommendEffectTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
  		<property name="jobDetail" ref="recommendEffect" />  
  			<property name="cronExpression" value="0 0 1 1 * ?" />   
  	</bean> -->
  	
  	<!--发送信息定时启动任务 -->
  	<bean id="messageSendTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
  			<property name="jobDetail" ref="messageSend" /> 
  			<property name="cronExpression" value="0/30 * * * * ?" />   
  	</bean>
  	
  	<!--竞拍活动定时启动任务 -->
  	<bean id="autoAuctionTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
  			<property name="jobDetail" ref="autoAuction" /> 
  			<property name="cronExpression" value="0 0 0 * * ?" />   
  	</bean>
    <!-- 极光推送体验金，红包，加息券过期定时任务 add by yaoshengting-->
  	<bean id="jpushInfoTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
  			<property name="jobDetail" ref="jpushInfoJob" /> 
  			<property name="cronExpression" value="0 0/5 * * * ?" />   
  	</bean>
  	 <!-- 极光推送标的信息定时任务 add by yaoshengting -->
  	<bean id="jpushTenderInfoTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
  			<property name="jobDetail" ref="jpushTenderInfoJob" /> 
  			<property name="cronExpression" value="0 0/1 * * * ?" />   
  	</bean>
  	
	<!-- 配置调度工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
		<!--QuartzScheduler 延时启动，/秒，应用启动后 QuartzScheduler 再启动-->
		<property name="startupDelay" value="10"/>
		<property name="triggers">  
			<list>  
				<!-- 定时开标-->
				<ref bean="readyToBidTrigger"/>  
				<!-- 逾期判断 -->
				<ref bean="overDueTrigger"/>
				<!-- 债权转让 -->
				<ref bean="debtDaysToStopTrigger" />
				<!-- 债权转让申请期间数据变动 -->
				<ref bean="debtChangeTrigger"/>
				<!-- 自动还款 -->
				<ref bean="autoRepayTrigger"/>
				<!-- 每月统计相关投资人以及投资额等信息-->
				<!-- <ref bean="inverstStatisticsTrigger" /> -->
  				<!--发送信息定时启动任务 -->
				<ref bean="messageSendTrigger" />
				<!--竞拍活动定时启动任务 -->
				<!-- <ref bean="autoAuctionTrigger" /> -->
				<!-- 定时推送用户体验金，红包，加息券过期定时任务-->
				<!--<ref bean="jpushInfoTrigger"/> -->
				<!-- 定时推送即将开标的标的信息定时任务-->
				<!-- <ref bean="jpushTenderInfoTrigger"/>-->  
			</list>  
		</property>  
	</bean>
</beans>
